$main: #1698D9;
$main-hover: #2EA8E6;
$secondary: #666666;
$disabled: #B3B3B3;
$selected: #D91667;
$selected-hover: #E52E7A;
$white: #FFFFFF;
$black: #000000;

@mixin regular {
  font-family: 'Trebuchet MS';
  font-weight: 400;
}

@mixin bold {
  font-family: 'Trebuchet MS';
  font-weight: 700;
}

.underlined {
  text-decoration: underline dashed;
}

.info {
  &__supertext {
    @include regular;
    color: var(--secondary-color);
    margin-top: 17px;
  }

  &__name {
    @include bold;
    color: var(--regular-color);
    font-size: 48px;
    line-height: 56px;
    margin-left: -3px;
    margin-top: 5px;
  }

  &__type {
    @include bold;
    color: var(--regular-color);
    font-size: 24px;
    line-height: 28px;
  }

  &__benefits {
    font-size: 14px;
    color: var(--secondary-color);
    margin-top: 12px;
    display: flex;
    flex-direction: column;
  }

  &__benefit {
    height: 16px;
  }

  &__benefit-amount {
    @include bold;
  }

  &__benefit-text {
    @include regular;
  }

  &__oval {
    @include regular;
    color: $white;
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--accent-color);
    text-align: center;

    &-text {
      margin-top: 20px;
    }
  }

  &__amount {
    font-size: 42px;
    line-height: 22px;
  }

  &__units {
    font-size: 21px;
    line-height: 22px;
  }
}

.card {
  --accent-color: #{$main};
  --secondary-color: #{$secondary};
  --regular-color: #{$black};

  &__image {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../assets/cat.png');
    background-origin: border-box;
    background-position: center 208px;
    background-size: 368px 360px;
    background-repeat: no-repeat;
  }

  &__content {
    cursor: pointer;
    position: relative;
    width: 320px;
    height: 480px;
    background-color: #F2F2F2;
    border: 4px solid var(--accent-color);
    border-radius: 12px;
    overflow: clip;
  }

  &__info {
    margin-left: 47px;
  }

  &__subtext {
    @include regular;
    color: $white;
    margin-top: 14px;
    text-align: center;
    font-size: 13px;
  }

  &__buy {
    color: var(--accent-color);
    cursor: pointer;
  }

  &[data-disabled] {
    --accent-color: #{$disabled};
    --secondary-color: #{$disabled};
    --regular-color: #{$disabled};

    .card__image {
      opacity: .5;
    }

    .card__subtext {
      color: #FFFF66;
    }
  }

  &[data-selected] {
    --accent-color: #{$selected};
    &[data-hovered]{
      --accent-color: #{$selected-hover};
    }
  }

  &[data-hovered] {
    --accent-color: #{$main-hover};
  }

}