$shadow-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #444;
  background-image: url('./assets/Pattern.png');
}

.shadow {
  //FIXME floating viewport height on mobile
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: $shadow-gradient;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding-bottom: 67px;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  text-shadow: 0px 1px 1px #000000;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 24px;
}

.food {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: 1201px) {
    gap: 40px;
  }
}